# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
.cache/

# Data (too large for GitHub)
data/raw/
data/processed/

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Kaggle
kaggle.json